<script type="text/javascript">
    $(document).ready(function() {
        $("a.comment-tooltip").tooltip();
        document.title = 'Legal – D-PLACE';
    });
</script>

<div class="">
  <div class="container">
    <div class="row about header">
<h2>Privacy Policy</h2>
<h3><strong>Data Collection and Processing</strong></h3>
<p>We wish to make our websites as appealing and comfortable for you as possible. To this end, analysis of statistical information relating to your utilisation of our websites and the collection of technical details on the web browsers and computers of our online visitors is very helpful for us.</p>
<p>We employ the web analytics tool Piwik for these purposes, which uses Cookies and JavaScript to collect information on your computer and automatically forwards it to us (pseudonymised user data).</p>
<p>Storing and analysis of data takes place on a central Piwik server, which is operated by the Max Planck Society. Of course, you may object to the collection of data. Objecting is very simple, it only takes one click. Further information on which data is collected and on your options to object is available in our Data Collection Declaration.</p>
<p>Also, the integration of external services such as Google Maps for route maps, Youtube or Amazon Cloud is always undertaken in a considerate manner and with the aim of making your visit on our websites as pleasant as possible.</p>
<p>We must advise you, however, that your IP address and perhaps other data related to your person will be transmitted to the service provider concerned (Google, Amazon etc.) and may be stored or analyzed there.</p>
<p>In accordance with Section 13 Paragraph 3 of the German Tele-Media Law [TMG], user profiles may be created using aliases for the purposes of advertising, market research and to suit market needs unless such is objected to by the user. We provide information on your right to object at the corresponding location on our Website.</p>
<p>The data protection officer of the Max Planck Society is available for questions concerning the topic of data protection at dsb@mpg.de or +49 (0) 89-2108-1317.</p>
<h2><strong>Personalized Services / Newsletter</strong></h2>
<p>Insofar as you have decided to take advantage of a personalized service or to register for a newsletter service the required personal data are stored. As a rule this includes your e-mail address, first and surname as well as other data – depending on the type of offer. Your data are used only in order to provide you with the desired offer to your satisfaction and in order to respond to any inquiries. If you no longer wish to take advantage of a personalized service, your personal data will be deleted after you cancel your registration. If you wish to cancel your subscription to a newsletter, you can either send us an e-mail, or carry out cancellation by using the respective link at the end of the newsletter.</p>
<h3><strong>Data Transmission</strong></h3>
<p>Your personal data will only be transmitted to government organizations and authorities in legally required cases and/or for prosecution in the event of attacks on our network infrastructure. Your personal data are not provided to third parties for any other purpose.</p>
<p></p>
</div>
</div>
</div>